{% assign cluster = page.cluster %}
{% assign relations = site.data.cluster-relations[cluster] %}

{% if relations %}

<div class="inter-cluster-links">

  <h3>🔗 Continua il tuo apprendimento</h3>

  <ul>

    {% for target in relations.connects %}

      {% assign target_data = site.data.clusters.clusters[target] %}

      <li>
        <a href="{{ target_data.url }}">
          {{ target_data.icon }} {{ target_data.title }}
        </a>
      </li>

    {% endfor %}

  </ul>

</div>

{% endif %}
