{% if page.layout == "post" %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",

  "headline": "{{ page.title }}",
  "description": "{{ page.description }}",
  "url": "{{ page.url | absolute_url }}",

  "inLanguage": "{{ page.language | default: 'it' }}",

  "articleSection": "{{ page.cluster }}",

  "author": {
    "@type": "Organization",
    "name": "Fluente-Mente"
  },

  "publisher": {
    "@type": "Organization",
    "name": "Fluente-Mente"
  },

  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }

  {% if page.image %}
  ,
  "image": "{{ page.image }}"
  {% endif %}

}
</script>

{% endif %}
