{% assign cluster = page.cluster %}
{% assign related_clusters = site.data.internal-links[cluster] %}

<section class="related-posts">

  <h3>Continua a imparare</h3>

  <div class="related-grid">

    {% for related_cluster in related_clusters %}

      {% for post in site.posts limit:2 %}

        {% if post.cluster == related_cluster %}

          <a href="{{ site.baseurl }}{{ post.url }}"
             class="related-card">

            {% if post.image %}
              <img src="{{ post.image }}"
                   alt="{{ post.title }}">
            {% endif %}

            <div class="related-content">

              <span class="related-cluster">
                {{ post.cluster }}
              </span>

              <h4>
                {{ post.title }}
              </h4>

              {% if post.description %}
                <p>
                  {{ post.description }}
                </p>
              {% endif %}

            </div>

          </a>

        {% endif %}

      {% endfor %}

    {% endfor %}

  </div>

</section>
