<title>
  {% if page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

<meta name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:type" content="article">

<meta property="og:title"
      content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

<meta property="og:description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}">
{% endif %}

<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<!-- Pinterest -->
<meta name="pinterest-rich-pin" content="true">

<!-- SEO Plugin -->
{% seo %}
